@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Ovo&display=swap');

@import "tailwindcss";


@theme {
    /* Font */
    --font-Ovo: 'Ovo', serif;
    --font-Outfit: 'Outfit', sans-serif;

    /* Color */
    --color-lightHover: #fcf4ff;
    --color-DarkHover: #2a004a;
    --color-DarkTheme: #11001F;

    /*Box Shadow*/
    --shadow-black: 4px 4px 5px #000; /* Horizon Vertical Blur Color */
    --shadow-white: 4px 4px 0 #fff;

}

ul li a.active {
    background-color: rgba(178, 177, 197, 0.333);
    padding: 10px 15px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}

@utility grid-cols-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}

@custom-variant dark (&:where(.dark, .dark *));

