@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Ovo&display=swap');

@import "tailwindcss";

@layer base {
     body {
        overflow-x: hidden;
    }
}

@theme {
    /* Font */
    --font-Ovo: 'Ovo', serif;
    --font-Outfit: 'Outfit', sans-serif;

    /* Color */
    --color-lightHover: #fcf4ff;
    --color-DarkHover: #2a004a;
    --color-DarkTheme: #11001F;

    /*Box Shadow*/
    --shadow-black: 4px 4px 5px #000; /* Horizon Vertical Blur Color */
    --shadow-white: 4px 4px 0 #fff;

    --shadow-4xl: 0 50px 50px rgba(0, 0, 0, 0.25);

}

a.active {
    background-color: rgba(178, 177, 197, 0.333);
    padding: 10px 15px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}

@utility grid-cols-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}

@layer components {
    .shadow-4xl {
        @apply shadow-[0_10px_50px_rgba(0,0,0,0.3)]
    }

    .fading-icon {
        @apply [mask-image:linear-gradient(to_right,transparent,black_10%,black_90%,transparent)]
      }

    .cardContainer {
        @apply h-screen top-[80px] sticky flex items-center justify-center  
    }

    .card {
        @apply relative h-[500px] w-[1000px] top-[-8%] rounded-2xl origin-top p-5 shadow-4xl border-t-2 dark:border-[#11001F] border-gray-200 dark:shadow-DarkHover dark:shadow-xl
    }
}

@custom-variant dark (&:where(.dark, .dark *));

